.row {
    max-width: $grid-width;
    //background-color: $color-white-grey-1;
    margin: 0 auto;
    &:not(:last-child){
        margin-bottom: $gutter-vertical;
    }
}
[class^="col-"] {

    //   background-color: $color-primary-light;
       float: left;
       &:not(:last-child){
           margin-right: $gutter-horizontal;
       }
    }


.col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) /2);

}
