.header {
    height: 25vh;
    background-image: linear-gradient(to right bottom, rgba($color-primary, 0.459), rgba($color-primary-light, 0.404)), 
    url('~@/assets/img/banner.jpg'); 
    background-size: cover;
    background-position: top;
    border-radius: 2rem;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0, 100% 25vh, 0% 100%);
    
    &__logo-box{
        position: absolute;
        top: .9rem;
        left: .7rem;
    }

    &__logo {
        height: 9.5rem;
    }
} 